<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="utf-8">
  <title>Potwierdzenie zamówienia</title>
</head>
<body>
<p>Witaj {{customer_name}}!</p>
<p>Dziękujemy za twoje zamówienie!</p>
<p>Numer twojego zamówienia to: <strong>{{order_id}}</strong>.</p>
<p>Data złożenia zamówienia: {{order_date}}</p>
<p>Kwota całkowita: {{total_amount}} zł</p>
<h3>Szczegóły zamówienia:</h3>
<ul>
  {{#each orderItems}}
    <li>
      {{this.product_name}}
      {{#if this.isDelivery}}
      {{else}}
        x{{this.quantity}}
      {{/if}}
      - {{this.price}} zł
    </li>
  {{/each}}
</ul>
<p>Powiadomimy Cię, gdy twoje zamówienie zostanie przygotowane do wysyłki!</p>
<p>Serdecznie pozdrawia zespół,<br>Zielony Koszyk!</p>
</body>
</html>