<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="utf-8">
  <title>Witaj w Zielonym Koszyku!</title>
</head>
<body>
<p>Witaj {{customer_name}}!</p>
<p>Na twój adres email założono konto z panelu administratora.</p>
<p>Twoje dane logowania to:</p>
<p>Email: {{email}}</p>
<p>Hasło: {{password}}</p>
<p>Prosimy o zmianę hasła po pierwszym zalogowaniu się.</p>
<p>Możesz zalogować się na swoje konto pod adresem: <a href="{{login_url}}">{{login_url}}</a></p>
<p>W razie pytań lub wątpliwości, skontaktuj się z nami pod adresem: <a
  href="mailto:{{contact_email}}">{{contact_email}}</a></p>
<p>Serdecznie pozdrawia zespół,<br>Zielony Koszyk!</p>
</body>
</html>